<p id="notice"><%= notice %></p>

<p>
  <strong>Quantidade:</strong>
  <%= @pedido.quantidade %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @pedido.valor %>
</p>
<p>
  <strong>Valor Total:</strong>
  <%= @pedido.valortotal %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
